/*
 * Baikal-T/T1 CNC IN board device tree
 *
 * Copyright (C) 2018 T-platforms JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 */

/ {
	/* Reserve memory regions for CMA and NTB */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Reserve 16MB for CMA-based allocations */
		cma: buffer@0 {
			compatible = "shared-dma-pool";
			alloc-ranges = <0 0x01000000 0 0x05000000>;
			size = <0 0x1000000>;
			alignment = <0 0x1000000>;
			reusable; /* specific for CMA */
		};
	};

	/* CNC IN board platform device */
	cnc {
		compatible = "cnc,in", "cnc,board";
		#address-cells = <1>;
		#size-cells = <0>;

		memory-region = <&cma>;
		board_info = <&shred>;
		board_addr = <&addr>;

		/* Local expanders (must always exist) */
		slave@0 {
			reg = <0>;
			dev = <&local_exp0 &local_exp1 GPIO_ACTIVE_LOW>;
		};
	};
};

&usb {
	status = "disabled";
};

&sata {
	status = "disabled";
};

&mdio0 {
	status = "disabled";
};

&xgmac {
	status = "disabled";
};

&gmac0 {
	status = "disabled";
};

&gmac1 {
	status = "disabled";
};

&i2c0 {
	status = "okay";

	local_exp0: gpioexp@76 {
		/*compatible = "nxp,pca9539";*/
		compatible = "cnc,gpio-exp";
		reg = <0x76>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&porta>;
		interrupts = <31 GPIO_ACTIVE_HIGH>;
		interrupt-controller;
		#interrupt-cells = <2>;
		ngpios = <16>; /* Informative */
	};

	local_exp1: gpioexp@77 {
		/*compatible = "nxp,pca9539";*/
		compatible = "cnc,gpio-exp";
		reg = <0x77>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&porta>;
		interrupts = <29 GPIO_ACTIVE_HIGH>;
		interrupt-controller;
		#interrupt-cells = <2>;
		ngpios = <16>; /* Informative */
	};
};

/* Board settings devices */
&i2c1 {
	status = "okay";

	shred: gpio@21 {
		compatible = "nxp,pcf8574";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

	addr: gpio@23 {
		compatible = "nxp,pcf8574";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

        eeprom@57 {
                compatible = "atmel,24c32";
                reg = <0x57>;
                pagesize = <16>;
        };
};

&uart1 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};
