/*
 * Baikal-T/T1 CNC IN v3 board device tree
 *
 * Copyright (C) 2018 T-platforms JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 */

/ {
	/* Reserve memory regions for CMA and NTB */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Reserve 16MB for CMA-based allocations */
		cma: buffer@0 {
			compatible = "shared-dma-pool";
			alloc-ranges = <0 0x01000000 0 0x05000000>;
			size = <0 0x1000000>;
			alignment = <0 0x1000000>;
			reusable; /* specific for CMA */
		};
	};

	/* CNC IN v3 board platform device */
	cnc {
		compatible = "cnc,in3", "cnc,in", "cnc,board";
		#address-cells = <1>;
		#size-cells = <0>;

		memory-region = <&cma>;
		board_info = <&shred>;
		board_addr = <&addr>;
		board_func = <&func>;

		wd_set-gpios = <&porta 2  GPIO_ACTIVE_HIGH>, /* wd_set pin */
			       <&porta 27 GPIO_ACTIVE_HIGH>; /* wd_in  pin */

		probe-gpios = <&porta 28 GPIO_ACTIVE_HIGH>, /* Probe input #24 */
			      <&porta 24 GPIO_ACTIVE_HIGH>, /* Probe input #25 */
			      <&porta 8  GPIO_ACTIVE_HIGH>, /* Probe input #26 */
			      <&porta 20 GPIO_ACTIVE_HIGH>, /* Probe input #27 */
			      <&porta 19 GPIO_ACTIVE_HIGH>, /* Probe input #28 */
			      <&porta 17 GPIO_ACTIVE_HIGH>, /* Probe input #29 */
			      <&porta 10 GPIO_ACTIVE_HIGH>, /* Probe input #30 */
			      <&porta 18 GPIO_ACTIVE_HIGH>; /* Probe input #31 */

		/* Local expanders (must always exist) */
		slave@0 {
			reg = <0>;
			dev = <&local_exp0 &local_exp1 GPIO_ACTIVE_LOW>;
		};

		/* First slave expanders */
		slave@1 {
			reg = <1>;
			dev = <&ext0_exp0 &ext0_exp1 GPIO_ACTIVE_LOW>;
		};

		/* Second slave expanders */
		slave@2 {
			reg = <2>;
			dev = <&ext1_exp0 &ext1_exp1 GPIO_ACTIVE_LOW>;
		};
	};
};

&usb {
	status = "disabled";
};

&sata {
	status = "disabled";
};

&mdio0 {
	status = "disabled";
};

&xgmac {
	status = "disabled";
};

&gmac0 {
	status = "disabled";
};

&gmac1 {
	status = "disabled";
};

/*
 * Relay/DescreteIn GPIO-expanders are placed right on i2c0 for early
 * developed boards and under i2c0 subbuses for rev.3 and newer.
 */
&i2c0 {
	status = "okay";

	/* Switch is available on rev.3 boards only */
	i2c0_exp_sw@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		idle-state = <3>; /* Unused channel is connected on idle */

		/* Bus #2 with local GPIO-expanders */
		local_exp_smb: i2c0_exp@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			local_exp0: gpioexp@76 {
				/*compatible = "nxp,pca9539";*/
				compatible = "cnc,gpio-exp";
				reg = <0x76>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&porta>;
				interrupts = <31 GPIO_ACTIVE_HIGH>;
				interrupt-controller;
				#interrupt-cells = <2>;
				ngpios = <16>; /* Informative */
			};

			local_exp1: gpioexp@77 {
				/*compatible = "nxp,pca9539";*/
				compatible = "cnc,gpio-exp";
				reg = <0x77>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&porta>;
				interrupts = <29 GPIO_ACTIVE_HIGH>;
				interrupt-controller;
				#interrupt-cells = <2>;
				ngpios = <16>; /* Informative */
			};
		};

		/* Bus #3 with external GPIO-expanders */
		ext0_exp_smb: i2c0_exp@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			ext0_exp0: gpioexp@76 {
				/*compatible = "nxp,pca9539";*/
				compatible = "cnc,gpio-exp";
				reg = <0x76>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&porta>;
				interrupts = <23 GPIO_ACTIVE_HIGH>;
				interrupt-controller;
				#interrupt-cells = <2>;
				ngpios = <16>; /* Informative */
			};

			ext0_exp1: gpioexp@77 {
				/*compatible = "nxp,pca9539";*/
				compatible = "cnc,gpio-exp";
				reg = <0x77>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&porta>;
				interrupts = <21 GPIO_ACTIVE_HIGH>;
				interrupt-controller;
				#interrupt-cells = <2>;
				ngpios = <16>; /* Informative */
			};
		};

		/* Bus #4 with external GPIO-expanders */
		ext1_exp_smb: i2c0_exp@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;

			ext1_exp0: gpioexp@76 {
				/*compatible = "nxp,pca9539";*/
				compatible = "cnc,gpio-exp";
				reg = <0x76>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&porta>;
				interrupts = <15 GPIO_ACTIVE_HIGH>;
				interrupt-controller;
				#interrupt-cells = <2>;
				ngpios = <16>; /* Informative */
			};

			ext1_exp1: gpioexp@77 {
				/*compatible = "nxp,pca9539";*/
				compatible = "cnc,gpio-exp";
				reg = <0x77>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&porta>;
				interrupts = <13 GPIO_ACTIVE_HIGH>;
				interrupt-controller;
				#interrupt-cells = <2>;
				ngpios = <16>; /* Informative */
			};
		};
	};
};

/* Board settings devices */
&i2c1 {
	status = "okay";

	shred: gpio@21 {
		compatible = "nxp,pcf8574";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

	func: gpio@22 {
		compatible = "nxp,pcf8574";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

	addr: gpio@23 {
		compatible = "nxp,pcf8574";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

        eeprom@57 {
                compatible = "atmel,24c32";
                reg = <0x57>;
                pagesize = <16>;
        };
};

&uart1 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};
