/*
 * Baikal-T/T1 CNC TTL board device tree
 *
 * Copyright (C) 2018 T-platforms JSC
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 */

/ {
	/* Reserve memory regions for CMA and NTB */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Reserve 16MB for CMA-based allocations */
		cma: buffer@0 {
			compatible = "shared-dma-pool";
			alloc-ranges = <0 0x01000000 0 0x05000000>;
			size = <0 0x1000000>;
			alignment = <0 0x1000000>;
			reusable; /* specific for CMA */
		};
	};

	/* CNC TTL board platform device */
	cnc {
		compatible = "cnc,ttl", "cnc,board";
		#address-cells = <1>;
		#size-cells = <0>;

		memory-region = <&cma>;
		board_info = <&shred>;
		board_addr = <&addr>;

		var-gpios = <&porta 31 GPIO_ACTIVE_HIGH>, /* First custom IRQ line */
			    <&porta 29 GPIO_ACTIVE_HIGH>; /* Second custom IRQ line */
		ref-gpios = <&porta 13 GPIO_ACTIVE_HIGH>, /* Port #0 reference */
			    <&porta  7 GPIO_ACTIVE_HIGH>, /* Port #1 reference */
			    <&porta  9 GPIO_ACTIVE_HIGH>, /* Port #2 reference */
			    <&porta 16 GPIO_ACTIVE_HIGH>, /* Port #3 reference */
			    <&porta 26 GPIO_ACTIVE_HIGH>, /* Port #4 reference */
			    <&porta  0 GPIO_ACTIVE_HIGH>, /* Port #5 reference */
			    <&porta 30 GPIO_ACTIVE_HIGH>, /* Port #6 reference */
			    <&porta  1 GPIO_ACTIVE_HIGH>; /* Port #7 reference */

		cpld@0 {
			reg = <0>;
			dev = <&ttl0>;
		};
	};
};

&usb {
	status = "disabled";
};

&sata {
	status = "disabled";
};

&xgmac {
	status = "disabled";
};

&gmac0 {
	status = "disabled";
};

&gmac1 {
	status = "disabled";
};

/* Board settings devices */
&i2c1 {
	status = "okay";

	shred: gpio@21 {
		compatible = "nxp,pcf8574";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

	addr: gpio@23 {
		compatible = "nxp,pcf8574";
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>; /* Informative */
	};

        eeprom@57 {
                compatible = "atmel,24c32";
                reg = <0x57>;
                pagesize = <16>;
        };
};

&uart1 {
	status = "disabled";
};

/* CPLD Altera Max V with TTL firmware */
&spi0 {
	status = "okay";

	num-cs = <1>;

	ttl0: alteraCPLD@0 {
		compatible = "cnc,cpld-ttl";
		reg = <0>;
		spi-max-frequency = <5000000>;
		spi-cpol;
	};
};

&spi1 {
	status = "disabled";
};
